[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io
After=docker.socket early-docker.target
Requires=docker.socket early-docker.target
After=flannel.service
Requires=flannel.service

[Service]
Environment="TMPDIR=/var/tmp/"
EnvironmentFile=%t/flannel/subnet.env
LimitNOFILE=1048576
LimitNPROC=1048576
ExecStartPre=/bin/mount --make-rprivate /
ExecStartPre=-/usr/bin/ip link delete docker0
ExecStart=/usr/bin/docker --daemon --storage-driver=btrfs --host=fd:// --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU} --ip-masq=false
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
