[Unit]
Requires=etcd.service
After=etcd.service

[Service]
ExecStartPre=/bin/sh -c 'cd /opt/bin && wget --backups=2 --tries=3 https://github.com/anguslees/flannel/releases/download/routed-test/flanneld'
ExecStartPre=-/usr/bin/chmod +x /opt/bin/flanneld
ExecStartPre=-/usr/bin/etcdctl mk /coreos.com/network/config \
 '{"Network":"192.168.0.0/16", "Backend":{"Type":"routed"}}'
ExecStart=/opt/bin/flanneld \
 --iface=eth2 \
 --ip-masq=true \
 --logtostderr
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
