[Unit]
Description=Kubernetes Release Download
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/install -o root -g root -m 755 -d /opt
ExecStart=/bin/sh -c 'cd /opt && wget --backups=2 --tries=3 https://github.com/anguslees/kubernetes/releases/download/v0.7.0/kubernetes-server-linux-amd64.tar.gz && tar -zxv -f kubernetes-server-linux-amd64.tar.gz'

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
