[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target
After=kube-download.service
Requires=kube-download.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/opt/kubernetes/server/bin/kube-proxy \
 --master=192.168.0.1:8080
 --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
MachineMetadata=kubernetes_role=minion
