[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target
After=kube-download.service
Requires=kube-download.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/opt/kubernetes/server/bin/kube-proxy \
 --etcd_servers=http://127.0.0.1:4001 \
 --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
MachineMetadata=kubernetes_role=minion
