[Unit]
Description=Kubernetes Scheduler Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=kube-apiserver.service kube-download.service
Requires=kube-apiserver.service kube-download.service

[Service]
ExecStart=/opt/kubernetes/server/bin/kube-scheduler \
 --master=192.168.0.1:8080 \
 --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
MachineMetadata=role=kubernetes
MachineOf=kube-apiserver.service
