[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target kube-apiserver.service kube-download.service
After=network-online.target kube-apiserver.service kube-download.service

[Service]
ExecStart=/opt/kubernetes/server/bin/kube-controller-manager \
 --master=192.168.0.1:8080 \
 --cloud_provider=openstack \
 --cloud_config=/etc/kube-openstack.conf \
 --minion_regexp=^testkube-minion-[0-9] \
 --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
MachineMetadata=role=kubernetes
MachineOf=kube-apiserver.service
